<div>
  <h3 class="text-center">Запросити користувача</h3>
  <form [formGroup]="invitation" (ngSubmit)="submit()"  class="form-group">
    <div class="input-group">
      <input formControlName="email" type="text" class="form-control" name="username" placeholder="Пошта" required="required">
    </div>

    <div *ngIf="invitation.get('email').touched && invitation.get('email').invalid">
      <p class="text-warning border-warning"
         *ngIf="invitation.get('email').errors.email">
        Пошта введена не коректно
      </p>
      <p class="text-warning border-warning"
         *ngIf="invitation.get('email').errors.required">
        Поле пошта не може бути порожнім
      </p>

    </div>
    <div class="pt-3">
      <button type="submit" [disabled]="!invitation.valid" class="btn btn-primary login-btn btn-block">Відправити запрошення</button>
    </div>
  </form>
</div>
