<div class="row mt-5">
  <div class="col-md-12">
    <div id="grid" class="row">
      <div *ngFor="let item of curentPost.pictures" class="mix col-sm-3 page1 page4 margin30">
        <div class="item-img-wrap ">
          <img [src]=[item] class="img-responsive" alt="workimg">
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="addPictureForm" (ngSubmit)="addPicture()" class="input-group">
  <div class="custom-file col-md-8 mb-3">
    <input formControlName="file" (change)="hendelFileInput($event.target.files)" type="file" class="custom-file-input" id="inputGroupFile01"
           aria-describedby="inputGroupFileAddon01" accept="image/x-png,image/gif,image/jpeg">
    <label class="custom-file-label " for="inputGroupFile01">{{selectFileName}}</label>
  </div>
  <div class="form-group col-md-4 ml-2">
    <button  type="submit"
             class="btn btn-primary login-btn btn-block"
             [disabled]="!addPictureForm.valid">Додати картинку</button>
  </div>
</form>
