<form [formGroup]="createPost" (ngSubmit)="submit()">
  <div class="form-group">
    <span>Заголовок</span>
    <div class="input-group">
      <input formControlName="title" type="text" class="form-control" name="username" placeholder="Текст" required="required">
    </div>
    <div *ngIf="createPost.get('title').touched && createPost.get('title').errors">
      <p class="text-warning" *ngIf="createPost.get('title').errors.required && createPost.get('title').invalid">
        Поле загловок не може бути порожнім
      </p>
      <p class="text-warning" *ngIf="createPost.get('title').errors.maxLength && createPost.get('title').invalid">
        Максимальна довжина заголовку 200 символів
      </p>
    </div>
  </div>

  <span>Bиберіть зображення</span>
  <div class="input-group">
    <div class="mt-1 custom-file">
      <input (change)="hendelFileInput($event.target.files)" type="file" class="custom-file-input" id="inputGroupFile"
             aria-describedby="inputGroupFileAddon01" accept="image/x-png,image/gif,image/jpeg">
      <label class="custom-file-label " for="inputGroupFile">{{selectFileName}}</label>
    </div>
  </div>
  <div class="form-group mt-2">
    <span>Текст посту</span>
    <textarea formControlName="text" class="form-control mt-2" id="exampleFormControlTextarea1" placeholder="Текст" rows="8"></textarea>
  </div>
  <div *ngIf="createPost.get('text').touched && createPost.get('text').errors">
    <p class="text-warning" *ngIf="createPost.get('text').errors.required && createPost.get('text').invalid">
      Поле текст не може бути порожнім
    </p>
    <p class="text-warning" *ngIf="createPost.get('text').errors.maxLength && createPost.get('text').invalid">
      Максимальна довжина тексту 500 символів
    </p>
  </div>

  <div class="form-group">
    <button [disabled]="!createPost.valid"  type="submit" class="btn btn-primary login-btn btn-block">Створити</button>
  </div>
</form>
