<div class="row">

  <div class="col-md-7">
    <bs-daterangepicker-inline [(bsValue)]="bsInlineRangeValue" ></bs-daterangepicker-inline>
  </div>

  <div class="col-md-5 ">
    <div class="form-inline mt-2">
      <input #search (keyup.enter)="onSearch()" class="form-control" style="width: 270px" placeholder="Search" type="text">
      <button (click)="onSearch()" class="btn btn-outline-primary ml-2 my-2">Пошук</button>
      <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Очистити</button>
    </div>
    <div class="paginatin">

    </div>
  </div>

</div>

<div class="mt-3">
  <div class="d-flex justify-content-center">
    <pagination
      [itemsPerPage]="serchParam.pageSize"
      [totalItems]="totalcount"
      (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>

<div class="row">

  <div class="card col-6" *ngFor="let post of posts">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.dateOfCreation | date:'d/M/y' }}</p>
      <p class="card-text">{{post.content}}</p>
      <a [routerLink]="['post/', post.id]" class="btn btn-primary mr-5">Детальніше</a>
      <a [routerLink]="[]" (click)="deletePost(post)" *ngIf="post.possibleToDelete" class="btn btn-primary">видалити</a>
    </div>
  </div>
</div>
