<div >
  <div class="d-flex text-center">
    <form [formGroup]="registerForm" (ngSubmit)="submit()"  method="post">
      <h2 class="text-center">Реэстрація</h2>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
          </div>
          <input formControlName="email"
                 type="text" class="form-control"
                 name="username"
                 placeholder="Пошта"
                 required="required">
        </div>
      </div>

      <div *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid">
        <p class="text-warning border-warning"
           *ngIf="registerForm.get('email').errors.email">
          Пошта введена не коректно
        </p>
        <p class="text-warning border-warning"
           *ngIf="registerForm.get('email').errors.required">
          Поле пошта не може бути порожнім
        </p>
        <p class="text-warning border-warning"
           *ngIf="registerForm.get('email').errors.emailExists">
          Поштовий адрес вже зареэстрований
        </p>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-address-book"></i>
                    </span>
          </div>
          <input formControlName="username" type="text" class="form-control" name="username" placeholder="Ім'я користувача" required="required">
        </div>
        <div *ngIf="registerForm.get('username').touched && registerForm.get('username').invalid">
          <p class="text-warning border-warning"
             *ngIf="registerForm.get('username').errors.required">
            Поле Ім'я не може бути порожнім
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
          </div>
          <input formControlName="password" type="password" class="form-control" name="password" placeholder="Пароль" required="required">
        </div>
        <div *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid">
          <p class="text-warning border-warning"
             *ngIf="registerForm.get('password').errors.required">
             Поле пароль не може бути порожнім
          </p>
          <p *ngIf="registerForm.get('password').errors.minlength" class="text-warning border-warning text-left">
             Мінімальна довжина 6 символів
          </p>
        </div>
      </div>

      <div *ngIf="!captchaIscorrect" class="form-group">
        <img src="{{imgCapture}}">

        <div class="form-inline">
          <input formControlName="captcha" type="text" class="form-control" placeholder="Ведіть значення з картинки" required="required">
          <button (click)="myclick()" type="button" class="btn btn-outline-primary ml-2 my-2">Підтвердити</button>
        </div>

      </div>

      <div *ngIf="captchaIscorrect" class="form-group">
        <button  type="submit"
                 class="btn btn-primary login-btn btn-block"
                 [disabled]="!registerForm.valid">Зареєструвати</button>
      </div>

    </form>
  </div>
</div>
