<div>
  <div class="d-flex text-center">
    <form [formGroup]=loginForm (ngSubmit)="onSubmit()" method="post">
      <h2 class="text-center">Увійти</h2>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
          </div>
          <input formControlName="email" type="text" class="form-control" placeholder="Пошта" required="required">
        </div>
        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
          <p class="text-warning border-warning"
             *ngIf="loginForm.get('email').errors.email">
            Пошта введена не коректно
          </p>
          <p class="text-warning border-warning"
             *ngIf="loginForm.get('email').errors.required">
            Поле пошта не може бути порожнім
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
          </div>
          <input formControlName="password" type="password" class="form-control" name="password" placeholder="Пароль"
                 required="required">
        </div>
      </div>

      <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
        <p class="text-warning border-warning"
           *ngIf="loginForm.get('password').errors.required">
          Поле пароль не може бути порожнім
        </p>
      </div>

      <div class="form-group">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary login-btn btn-block">Увійти</button>
      </div>
    </form>
  </div>
</div>
