<div class="d-flex flex-column flex-md-row
 align-items-center justify-content-between p-3
 px-md-4 mb-3 bg-white border-bottom
 fixed-top
 shadow-sm"
>
  <div></div>
  <nav *ngIf="(curentUser$ | async) as user" class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger">
    <a [routerLink]="['/day-book']" *ngIf="user.userRole.includes('user')" routerLinkActive="active" class="p-2">Головна сторінка</a>
    <a [routerLink]="['/day-book/create-post']" *ngIf="user.userRole.includes('user')" routerLinkActive="active" class="p-2">Створити пост</a>
    <a [routerLink]="['/admin']" *ngIf="user.userRole.includes('admin')" routerLinkActive="active" class="p-2">Запростит користувача</a>
  </nav>

  <div clall="d-flax align-item-center">

    <div *ngIf="(curentUser$ | async)=== null">
      <a routerLink="/account/login" class="btn btn-outline-secondary mr-2" href="#">Login</a>
    </div>

    <ng-container *ngIf="(curentUser$ | async) as user" >
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Привіт {{user.displayName}} </strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             style="cursor:pointer;" *dropdownMenu>
          <a (click)="logOut()"  class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3">LogOut</i>
          </a>
        </div>
      </div>
    </ng-container>

  </div>
</div>

